<ion-header>
  <ion-toolbar>
    <ion-title>
      App con Api rest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ul>
      <li *ngFor="let post of list">
        <ion-item (click)='onEventoDettaglio(post)'>
          <!-- <a routerLink="/post/{{post.id}}">{{ post.title }}</a> -->
          <h2>{{post.title.rendered}}</h2>
        </ion-item>
      </li>
    </ul>
    <!-- <div class="navbar-nav">
      <button class="nav-item" (click)="getPosts(5)">Carica Articoli</button>
      <button (click)="resetPosts()">Resetta lista</button>
    </div> -->
  </div>
</ion-content>
